/* WHY CHOOSE OVEN THERAPY */

.why {
    background: #ffffff;
    padding: 80px 20px;
    width: 100%;
    text-align: center;
}


.why-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.why h2 {
    font-size: 42px;
    color: #73765b;
    margin-bottom: 40px;
}


.features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}


.feature {
    width: 300px;
    background: #f8f4ee;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
}


.feature h3 {
    color: #73765b;
    font-size: 22px;
    margin-bottom: 15px;
}


.feature p {
    font-size: 16px;
}
